$word-length: 5;
$letter-1-size: 4rem;
$letter-1-margin: 4px;

.content {
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    > *:not(:first-child) {
        margin-top: 2rem;
    }

    .title {
        font-size: 3.2rem;
        font-weight: 700;
    }

    .grid {
        align-self: stretch;
        display: grid;
        grid-template: "left middle right" auto / 1fr calc($word-length * (3rem + 2 * 2px)) 1fr;

        .large-letters {
            grid-area: middle;
            width: calc($word-length * (3rem + 2 * 2px));
            display: flex;
            flex-wrap: wrap;
        }

        .controls {
            grid-area: left;
            padding: 2rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .messages {
            grid-area: right;
            padding: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .small-letters {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-row {
            display: flex;
        }
    }
}

.letter {
    box-sizing: border-box;
    text-transform: capitalize;
    user-select: none;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &--small {
        @extend .letter;
        width: 2.5rem;
        height: 2.5rem;
        margin: 2px;
        font-size: 1rem;
        font-weight: 600;
        border: 2px solid;
        border-radius: 4px;
    }

    &--large {
        @extend .letter;
        width: 3rem;
        height: 3rem;
        margin: 3px 2px;
        font-size: 1.5rem;
        font-weight: 600;
        border: 2px solid;
        border-radius: 6px;
    }

    &--unknown {
        @extend .letter;
        background-color: white;
        border-color: rgb(207, 207, 207);
        color: rgb(39, 39, 39);
    }

    &--unknown-filled {
        @extend .letter;
        background-color: white;
        border-color: rgb(136, 136, 136);
        color: rgb(39, 39, 39);
    }

    &--wrong {
        @extend .letter;
        background-color: rgb(129, 129, 129);
        border-color: rgb(129, 129, 129);
        color: white;
    }

    &--wrong-spot {
        @extend .letter;
        background-color: #e30022;
        border-color: #e30022;
        color: white;
    }

    &--correct-spot {
        @extend .letter;
        background-color: #8db600;
        border-color: #8db600;
        color: white;
    }

    &--invalid-word {
        @extend .letter;
        animation: letter--guessed-invalid-word 0.25s ease-out;
    }

    &--typed:not(&--invalid-word) {
        @extend .letter;
        animation: letter--typed 0.1s linear;
    }

    &--guessed-valid-word {
        @extend .letter;
        animation: letter--guessed-valid-word 0.2s ease-in-out;
    }
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 100;
}

@keyframes letter--typed {
    0% {
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes letter--guessed-valid-word {
    0% {
        background-color: white;
        border-color: rgb(207, 207, 207);
        color: rgb(39, 39, 39);
    }
    50% {
        background-color: white;
        border-color: rgb(207, 207, 207);
        color: rgb(39, 39, 39);
        transform: rotateY(90deg) scale(0.95);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes letter--guessed-invalid-word {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px);
    }
}
