.content {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    display: grid;
    grid-template:
        "top top top" auto
        "left middle right" auto
        "bottom bottom bottom" auto / 1fr auto 1fr;
    gap: 2rem;
    place-items: center;

    .title {
        grid-area: top;
        align-self: flex-end;
        font-size: 3.2rem;
        font-weight: 700;
    }

    .controls {
        grid-area: left;
        justify-self: flex-end;
    }

    .large-letters {
        grid-area: middle;
        width: calc(5 * (3rem + 2 * 2px));
        display: flex;
        flex-wrap: wrap;
    }

    .messages {
        grid-area: right;
        justify-self: flex-start;
    }

    .small-letters {
        grid-area: bottom;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-row {
            display: flex;
        }
    }
}

.letter {
    box-sizing: border-box;
    text-transform: capitalize;
    user-select: none;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &--small {
        @extend .letter;
        width: 2.5rem;
        height: 2.5rem;
        margin: 2px;
        border: 2px solid;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: 700;
    }

    &--large {
        @extend .letter;
        width: 3rem;
        height: 3rem;
        margin: 2px;
        border: 2px solid;
        border-radius: 6px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &--unknown {
        @extend .letter;
        color: #272727;
        background-color: white;
        border-color: #cfcfcf;
    }

    &--unknown-filled {
        @extend .letter;
        color: #272727;
        background-color: white;
        border-color: #888888;
    }

    &--wrong {
        @extend .letter;
        color: white;
        background-color: #818181;
        border-color: #818181;
    }

    &--wrong-spot {
        @extend .letter;
        color: white;
        background-color: #e30022;
        border-color: #e30022;
    }

    &--correct-spot {
        @extend .letter;
        color: white;
        background-color: #8db600;
        border-color: #8db600;
    }

    &--typed {
        @extend .letter;
        animation: letter--typed 0.15s linear;
    }

    &--guessed-invalid-word {
        @extend .letter;
        animation: letter--guessed-invalid-word 0.15s linear;
    }

    &--guessed-valid-word {
        @extend .letter;
        animation: letter--guessed-valid-word 0.15s linear;
    }
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 100;
}

@keyframes letter--typed {
    50% {
        transform: translateY(-4px);
    }
}

@keyframes letter--guessed-valid-word {
    0% {
        color: #272727;
        background-color: white;
        border-color: #cfcfcf;
    }
    50% {
        color: #272727;
        background-color: white;
        border-color: #cfcfcf;
        transform: rotateY(90deg);
    }
}

@keyframes letter--guessed-invalid-word {
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
}
